<nb-card accent="info" id="recept">
    <nb-card-header>
      <h4>RECEPT</h4>
      <h6>Uitgeschreven: {{prescriptionDate | date : 'dd-MM-yyyy'}}</h6>
    </nb-card-header>
    <nb-card-body>
      <div>Patiëntnummer: {{clientNumber}}</div>
      <div>Aflevermethode:</div>
      <nb-select placeholder="Kies een aflevermethode" [(selected)]="deliveryMethod">
        <nb-option value="0">Afhalen bij apotheek</nb-option>
        <nb-option value="1">Thuisbezorgen bij patiënt</nb-option>
      </nb-select>
      <div>Recept geldig tot {{endValidDate | date : 'dd-MM-yyyy'}}</div>
    </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" (click)="printPrescription()">Afdrukken
    </button>

  </nb-card-footer>
</nb-card>
