<nb-layout>
  <nb-layout-column>
    <form [formGroup]="prescriptionForm" id="prescriptionForm" (ngSubmit)="printPrescription()">

      <nb-card accent="info" id="recept">

        <nb-card-header>
          <h4>RECEPT</h4>
        </nb-card-header>

        <nb-card-body>
          <div class="label">Patiëntnummer</div>
          <div>
            <input nbInput
                   type="text"
                   readonly
                   id="clientNumber"
                   formControlName="clientNumber">
          </div>

          <div class="label">Datum</div>
          <div>
            <input nbInput
                   type="text"
                   readonly
                   date="dd-MM-yyyy"
                   id="prescriptionDate"
                   formControlName="prescriptionDate">
          </div>

          <div class="label">Aflevermethode</div>
          <nb-radio-group id="deliveryMethod" formControlName="deliveryMethod">
            <nb-radio
              *ngFor="let method of deliveryMethods" [value]="method.description">
              {{ method.description }}
            </nb-radio>
          </nb-radio-group>

          <div class="label">Recept geldig tot</div>
          <div>
            <input nbInput
                   type="text"
                   readonly
                   id="endDateValid"
                   formControlName="endDateValid">
          </div>

          <h2>Medicijnen</h2>

          <nb-card>
            <nb-card-header>
            </nb-card-header>
            <nb-card-body class="prescription-item-rows" formArrayName="prescriptionRows">
              <div class="prescription-item-row"
                   *ngFor="let rowCtrl of prescriptionRowsCtrls; let i = index"
                   [formGroupName]="i">
                <nb-select
                  placeholder="Kies een medicijn"
                  formControlName="medicine"
                  (selectedChange)="medicineChanged(i)"
                  style="float:left">
                  <nb-option *ngFor="let medicine of medicines"
                             [value]="medicine.description">
                    {{ medicine.description }}
                  </nb-option>

                </nb-select>

                <nb-select
                  placeholder="Kies een verpakking"
                  formControlName="packaging"
                  style="float:left">
                  <nb-option *ngFor="let packaging of packagings"
                             [value]="formatPackaging(packaging)">
                    {{ formatPackaging(packaging) }}
                  </nb-option>
                </nb-select>
                <input nbInput type="text"
                       formControlName="number"
                       placeholder="Aantal"/>
                <button nbButton type="button"
                        (click)="deletePrescriptionRow(i)"
                        status="danger"

                        style="float: right">
                  <nb-icon icon="trash"></nb-icon>
                </button>
                <div class="clearfix"></div>
                <input nbInput fullWidth type="text"
                       class="instructions"
                       formControlName="description"
                       placeholder="Instructies"/>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton status="primary"
                      type="button"
                      (click)="addNewRow()"><nb-icon icon="plus-circle"></nb-icon>Voeg een medicijn toe</button>
            </nb-card-footer>
          </nb-card>

        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="primary" type="submit" [disabled]="!prescriptionForm.valid">
            Afdrukken
          </button>

        </nb-card-footer>
      </nb-card>
    </form>
  </nb-layout-column>
</nb-layout>
