@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
};

img.profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#prescriptionForm {
  input[type="text"]:disabled, input[readonly] {
    border: none;
    color: #333;
    background-color: transparent;
  }

  .prescription-item-row {
    margin-top: 10px;

    input {
      margin-left: 10px;
    }

    .instructions {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

@media print {
  .nb-theme-default [nbButton].appearance-filled.status-primary,
  .nb-theme-default .appearance-filled.status-primary[nbButtonToggle] {
    display: none;
  }
}

div.error-message {
  color: red;
}

nb-select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.nb-theme-default {
  app-client-row {

    width: 100%;
    padding-left: 10px;

    .name {
      font-size: 1em;
      font-weight: 700;
    }

    a {
      text-decoration: none;
    }
  }

  nb-icon.large-icon {
    font-size: 2em;
  }

  nb-card-header {
    border-bottom: none;
    font-size: 1.25em;
  }

  nb-list-item.selected {
    background-color: #ccc;
  }

  .label {
    margin-top: 20px;
  }
}
